// -----------------------------------------------------------------------
// ----------------------- mas informacion internas ----------------------- //

.page-node-type-page,
.user-logged-in,
.path-user,
.page-node-type-cursos-y-talleres{
	
	.footer {
		border-top: 0px;
		padding-top: 0;
		position: relative;
		
		&:before{
		    content: "";
		    position: absolute;
		    left: -110rem;
		    top: -41rem;
		    //background: url(../images/svg/mancha-purpura.svg);
		    background: url(../images/svg/mancha-purpura.png);
		    background-repeat: no-repeat;
		    width: 3198px;
		    height: 422px;
		    z-index: 0;
		    background-size: cover;
		    image-rendering: pixelated;
		    
		    @media screen and (max-width: $breakpoint_2){
				left: -167rem;
		    }
		    
		    @media screen and (max-width: $breakpoint_4){
				left: -200rem;
		    }
		    
		}
		
		.region-footer{
			
			section{
				
				&:nth-child(1){
					color: $color_brand_white;
					margin-bottom: 40rem;
					text-align: center;
					
					// star form section
					form{
						@include form-info;
					}
					
				}
				
			}
			
		}
		
	}
	
}