// -----------------------------------------------------------------------
// ----------------------- working papers banner ----------------------- //

// container general
div[role="main"]{
	
	.row{
	
		.region-content{
			
			background: $color_gray_5;
			padding: 0 8rem;
			position: relative;
		    top: -11rem;
		    display: flex;
		    flex-wrap: wrap;
			//overflow: hidden;
			
			@media only screen and (max-width: $breakpoint_2){
				padding: 0 3rem;
			}
			
			section{
				
				background: $color_brand_white;
				padding: 1rem 1rem 0;
				display: block;
				
				&:nth-child(1)
				//&:nth-child(2)
				{
					
					background: $color_orange;
					position: relative;
					color: $color_brand_white;
					
					// txt title
					label{
						
						font:$font-bl-s $font-AG-ultralight;
					
					}
					
					// selector
					
					.select-wrapper{
						&:after{
							color: $color_brand;
						}
					}
					
					
					.form-item{
						margin-right: 1rem;
					}
					
					.form-control{
						border-radius: 4rem;
						border: 0px;
						margin-left: 1rem;
						box-shadow: none;
						
						@media only screen and (max-width: $breakpoint_3){
							margin-left: 0;
						}
						
					}
					
				}
				
				// bg color left and right
				&:nth-child(1){
					flex-basis: 100%;
					padding-left: 3rem;
					
					@media only screen and (max-width: $breakpoint_3){
						flex-basis: 100%;
						padding-left: 1rem;
						
						&::before{
					        content: "";
					        background: url(../images/assets/noise.png) $color_orange_light;
					        display: block;
					        width: 3rem;
					        height: 100%;
					        position: absolute;
					        top: 0;
					        left: 100%;
				    		}
				    		
					}
					
					&::before,
				    &::after {
				        content: "";
				        background: url(../images/assets/noise.png) $color_orange_light;
				        display: block;
				        width: 8rem;
				        height: 100%;
				        position: absolute;
				        top: 0;
				        left: 100%;
				        
				        @media only screen and (max-width: $breakpoint_2){
							width: 3rem;
						}
				    }
				    &::after {
				        left: auto;
				        right: 100%;
				    }
					
				}
				
				/*&:nth-child(2){
					padding-right: 3rem;
					flex-basis: 60%;
					
					&::before,
				    &::after {
				        content: "";
				        background: url(../images/assets/noise.png) $color_orange_light;
				        display: block;
				        width: 8rem;
				        height: 300%;
				        position: absolute;
				        top: 0;
				        left: 100%;
				        @media only screen and (max-width: $breakpoint_2){
							width: 3rem;
						}
				    }
				    //&::after {
				    //    left: auto;
				    //    right: 100%;
				    //}
				    
				    @media only screen and (max-width: $breakpoint_3){
						flex-basis: 100%;
						margin-top: -2rem;
						&::after {
					        left: auto;
					        right: 100%;
					    }
					}
					
				}*/
				
			}
			
		}
		
	}
	
}