@mixin buton-m {
    display: inline-block;
    vertical-align: top;
    color: $color_brand_white;
    background-color: $color_brand;
    border-radius: 40px;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    font: {
        family: $font-AG-bold;
        size: $font-txt-xl;
    }
    &:hover {
        border: 1px solid $color_brand;
        background: none;
        color: $color_brand;
        &:after{
	        display: none;
        }
    }
}

@mixin buton-s {
    display: inline-block;
    vertical-align: top;
    color: $color_brand_white;
    background-color: $color_brand;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    border: 1px solid transparent;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    font: {
        family: $font-AG-bold;
        size: $font-txt-l;
    }
    &:hover {
        border: 1px solid $color_brand;
        background: none;
        color: $color_brand;
        &:after{
	        display: none;
        }
    }
}

@mixin buton-s-green {
    display: inline-block;
    vertical-align: top;
    color: $color_brand_white;
    background-color: $color_brand;
    border-radius: 40px;
    padding: 0.2rem 2rem;
    border: 1px solid transparent;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    font: {
        family: $font-AG-bold;
        size: $font-txt-l;
    }
    &:hover {
        border: 1px solid $color_brand;
        background: none;
        color: $color_brand;
        &:after{
	        display: none;
        }
    }
}

@mixin buton-s-white {
    display: inline-block;
    vertical-align: top;
    color: $color-font;
    background-color: $color_brand_white;
    border-radius: 40px;
    padding: 0.5rem 2rem;
	    border: 2px solid $color_brand;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    font: {
        family: $font-AG-bold;
        size: $font-txt-l;
    }
    &:hover {
        background-color: $color_brand;
        border: 2px solid $color_brand;
        color: $color_brand_white;
        &:after{
	        display: none;
        }
    }
}

@mixin buton-s-white-line {
    display: inline-block;
    vertical-align: top;
    color: $color_brand_white;
    background: none;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    border: 2px solid $color_brand;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    font: {
        family: $font-AG-bold;
        size: $font-txt-l;
    }
    &:hover {
        background: $color_brand;
        border: 2px solid $color_brand;
        color: $color_brand_white;
        &:after{
	        display: none;
        }
    }
}

@mixin buton-s-green-line {
    display: inline-block;
    vertical-align: top;
    color: $color_brand;
    background: none;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    border: 1px solid $color_brand;
    text-decoration: none;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    text-transform: uppercase;
    font: {
        family: $font-baseblack;
        size: 10px;
    }
    &:hover {
        background: $color_brand;
        border: 1px solid $color_brand;
        color: $color_brand_white;
        &:after{
	        display: none;
        }
    }
}

@mixin selector-white-line {
    display: inline-block;
    vertical-align: top;
    color: $color-font;
    background: $color_brand_white;
    border-radius: 40px;
    padding: 0.5rem 2rem;
    border: 2px solid $color_brand;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: .3s ease-out all;
    font: {
        family: $font-AG-bold;
        size: $font-txt-l;
    }
    &:hover {
        background: $color_brand;
        border: 2px solid $color_brand;
        color: $color_brand_white;
        &:after{
	        display: none;
        }
    }
}