// -----------------------------------------------------------------------
// ----------------------- vistas cursos  ----------------------- //
@mixin repo-classes {
	@include inline-block(top);
	@include grid-porcentaje(3);
	width: 21%;
	background: $color_brand_white;
	position: relative;
	border-radius: 0;
	border: 0px;
	padding: 0;
    margin: 1rem 2rem 5rem;
    box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	text-align: center;
	&::before,
	&::after {
	    content: "";
	    background: $color_ec_mag;
	    display: block;
	    width: 3%;
	    height: 80%;
	    position: absolute;
	    top: 10%;
	    left: -3%;
	}
	&::after {
	    left: auto;
	    right: -3%;
	}
	
	@media screen and (max-width: $breakpoint_1){
		width: 25%;
	}
	
	@media screen and (max-width: $breakpoint_3){
		width: 40%;
	}
	
	@media screen and (max-width: $breakpoint_4){
		width: 75%;
	}
	
}

@mixin repo-classes-txt{
	margin: 1rem 0 3rem;
					
	a{
		color: $color_ec_purple;
		font-family: $font-baser;
		font-size: $font-txt-xl;
		margin: 1rem 0;
		&:after{
			display: none;
		}
	}
	
}

@mixin repo-classes-link{
	position: absolute;
	width: 100%;
	bottom: -2rem;
	
	.field-content{
		
		a{
			@include buton-s-white;
		}
		
	}	
	
}

// -----------------------------------------------------------------------
// ----------------------- links - enlaces  ----------------------- //

@mixin links-hover{
	&:after{
		position: absolute;
		content: "";
		height: 2px;
		width: 0%;
		left: 0%;
		background: $color_ec_mag;
		bottom: 0%;
		visibility: hidden;
	}
	&:hover, &:focus{
		text-decoration: none;
		color: $color_ec_mag;
		&:after{
			visibility: visible;
			width: 100%;
			bottom: 0%;
		}
	}
}

@mixin links{
	color: $color_ec_mag;
	font-family: $font-AG-regular;
	position: relative;
	word-break: break-word;
	&:hover{
		text-decoration: none;
	}
	@include links-hover;
}

@mixin links-menu{
	color: $color-font;
	font-family: $font-AG-regular;
	position: relative;
	&:hover{
		text-decoration: none;
	}
	
	&:after{
		position: absolute;
	    content: "";
	    height: 6px;
	    width: 0%;
	    left: 0%;
	    background: url(../images/svg/menu-hover.svg);
	    background-repeat: no-repeat;
	    bottom: 4%;
	    visibility: hidden;
	}
	&:hover, &:focus{
		text-decoration: none;
		//color: $color_ec_mag;
		&:after{
			visibility: visible;
			width: 100%;
			//bottom: 0%;
		}
	}
	
}

// -----------------------------------------------------------------------
// ----------------------- carrusel - banners  ----------------------- //

@mixin bg-carrusel{
	display: inline-block;
	padding: 0;
	background: $color_brand_white;
	margin-top: 9rem;
	box-shadow: 0 0 80px rgba(0,0,0,0.6);
	border: 0;
	border-radius: 0;
	position: relative;
	width: 100%;
	
	&:before{
	    content: "";
		position: absolute;
	    left: -7%;
	    top: 16%;
		background: url(../images/svg/mancha-verde-1.svg);
		background-repeat: no-repeat;
	    width: 156px;
	    height: 315px;
		z-index: -1;
		@media screen and (max-width: $breakpoint_2){
			top:-14%;
		}
		@media screen and (max-width: $breakpoint_4){
			top: -24%;
		}
	}
	
	&:after{
	    content: "";
		position: absolute;
		background: url(../images/svg/mancha-verde-2.svg);
		background-repeat: no-repeat;
	    width: 156px;
	    height: 315px;
	    right: -10%;
	    top: 16%;
	    z-index: -1;
	    @media screen and (max-width: $breakpoint_2){
			top:-14%;
		}
		@media screen and (max-width: $breakpoint_4){
			top: 58%;
		}
	}
}

@mixin title-carrusel{
	@include grid-porcentaje(4);
	float: left;
	margin-top: 5rem;
	margin-left: 5rem;
	font-family: $font-AG-black;
	color: $color-font;
	font-size: $font_banner;
	line-height: $font_banner;
	letter-spacing: -1px;
	
	a{
		font-family: $font-AG-black;
		color: $color-font;
		font-size: $font_banner;
		line-height: $font_banner;
		letter-spacing: -1px;
		&:after{
	        display: none;
	    }
	}
	
	@media screen and (max-width: $breakpoint_1){
		margin-top: 2rem;
	    margin-left: 2rem;
		font-size: 3.4em;
		line-height: 1em;
		a{
			font-size: 1em;
			line-height: 1em;
		}
	}
	
	@media screen and (max-width: $breakpoint_2){
		margin-top: 2rem;
	    margin-left: 2rem;
		font-size: 2.5em;
		a{
			font-size: 1em;
			line-height: 1em;
		}
	}
	
	@media screen and (max-width: $breakpoint_4){
		float: none;
		order: 1;
		width: initial;
		margin-right: 2rem;
	}
	
}

@mixin description-carrusel{
	@include grid-porcentaje(4);
	float: left;
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 5rem;
	font-size: $font_banner_sub;
	
	@media screen and (max-width: $breakpoint_1){
	    margin-left: 2rem;
	}
	
	@media screen and (max-width: $breakpoint_4){
		float: none;
		order: 2;
		width: initial;
	}
	
}

@mixin links-carrusel{
	@include grid-porcentaje(4);
	float: left;
	margin-left: 5rem;
	margin-top: 1rem;
	
	a{
		@include buton-m;
	}
	
	@media screen and (max-width: $breakpoint_1){
	    margin-left: 2rem;
	}
	
	@media screen and (max-width: $breakpoint_4){
		float: none;
		order: 3;
		width: initial;
	}
	
}

@mixin image-carrusel{
	@include grid-porcentaje(7);
	float: right;
	position: relative;
	padding: 0;
	&:after{
		content: "";
		position: absolute;
		left: 0;
		top:0;
		background: url(../images/svg/rotabanner-1.svg);
		background-repeat: no-repeat;
		width: 153px;
	    height: 400px;
	}
	
	@media screen and (max-width: $breakpoint_1){
		width: 62%;
	}
	
	@media screen and (max-width: $breakpoint_3){
		width: 62%;
	}
	
	@media screen and (max-width: $breakpoint_4){
		float: none;
		margin: 3rem 3rem 0;
		order: 4;
		width: initial;
		&:after{
			display: none;
		}
	}
	
}

// -----------------------------------------------------------------------
// ----------------------- Footer  ----------------------- //
@mixin info-edificio-footer{
	
	background: $color_brand_white;
    position: relative;
    border-radius: 0;
    border: 0px;
	padding: 0;
    &::before,
    &::after {
        content: "";
        background: $color_brand_white;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        @media screen and (max-width: $breakpoint_3){
	        width: 150%;
        }
    }
    &::after {
        left: auto;
        right: 100%;
    }
    
    @include inline-block(top);
	@include grid-porcentaje(6);
	float: left;
	padding: 3rem 10px;
	
	@media screen and (max-width: $breakpoint_4){
		@include grid-porcentaje(12);
		padding: 3rem 10px;
	}
	
	> div{
		
		&:nth-child(1){
			
			position: relative;
			
			&:before{
				//background: url(../images/svg/ilustracion-3.svg);
				background: url(../images/svg/ilustracion-3.png);
				image-rendering: pixelated;
				position: absolute;
			    width: 2477px;
			    height: 624px;
			    top: -46rem;
			    content: "";
			    left: -115rem;
			    z-index: 1;
			    background-size: cover;
			    
			    @media screen and (max-width: $breakpoint_1){
				    width: 2239px;
				    height: 585px;
				    top: -42rem;
				    left: -111rem;
			    }
			    
			    @media screen and (max-width: $breakpoint_2){
				    width: 2087px;
				    height: 554px;
				    top: -39rem;
				    left: -119rem;
			    }
			    
			    @media screen and (max-width: $breakpoint_3){
					left: -89rem;
			    }
			    
			    @media screen and (max-width: $breakpoint_4){
					left: -89rem;
			    }
			    
			}
			
			p{
				position: relative;
				z-index: 3;
			}
		
		}
		
	}
					
}

@mixin info-logos-footer{
					
	background: $color_brand_white;
    position: relative;
    border-radius: 0;
    border: 0px;
	padding: 0;
    &::before,
    &::after {
        content: "";
        background: $color_brand_white;
        display: block;
        width: 40%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        @media screen and (max-width: $breakpoint_4){
	        width: 100%;
        }
    }
    &::after {
        left: auto;
        right: 100%;
        display: none;
        @media screen and (max-width: $breakpoint_4){
	        display: block;
        }
    }
    
    @include inline-block(top);
	@include grid-porcentaje(4);
	float: left;
	padding: 2rem 10px;
	
	@media screen and (max-width: $breakpoint_3){
		@include grid-porcentaje(6);
		padding: 2rem 10px;
	}
	
	@media screen and (max-width: $breakpoint_4){
		@include grid-porcentaje(12);
		padding: 2rem 10px;
	}
	
	.field--name-field-imagen-svg{
		
		.field--item{
			@include inline-block(top);
			@include grid-porcentaje(6);
			float: left;
			z-index: 3;
			position: relative;
		}
		
		p{
			
			// escuela logo
			img{
				@include inline-block(top);
				@include grid-porcentaje(6);
				float: left;
			}
			
			// logo ueb
			a{
				@include inline-block(top);
				@include grid-porcentaje(6);
				float: left;
				
				img{
					@include grid-porcentaje(12);
				}
				
			}
			
		}
		
	}
				    
				
}

@mixin info-vigilada-footer{
					
	background: $color_brand_white;
    position: relative;
    border-radius: 0;
    border: 0px;
	padding: 0;
    &::before,
    &::after {
        content: "";
        background: $color_brand_white;
        display: block;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        @media screen and (max-width: $breakpoint_3){
	        width: 100%;
        }
    }
    &::after {
        left: auto;
		right: 7%;
		width: 400%;
    }
    
    @include inline-block(top);
	@include grid-porcentaje(12);
	//float: left;
	padding: 2rem;
	
	.field--name-body{
		position: relative;
		z-index: 3;
		
		p{
			font-size: 12px;
			text-align: center;
			line-height: 16px;
		}
		
	}
					
}

// -----------------------------------------------------------------------
// ----------------------- Mas informacion - form  ----------------------- //

@mixin form-info{
	
	@include inline-block(top);
	@include grid-porcentaje(10);
	@include paragraph;
	font-family: $font-basel;
	word-break: break-word;
	
	@media screen and (max-width: $breakpoint_2){
		@include grid-porcentaje(12);
	}
	
	// more info text
	#edit-texto-de-mas-informacion{
		margin: 2rem 0 4rem;
		@include inline-block(top);
		@include grid-porcentaje(8);
		
		@media screen and (max-width: $breakpoint_2){
			@include grid-porcentaje(10);
		}
		
		@media screen and (max-width: $breakpoint_4){
			@include grid-porcentaje(12);
		}
	}
	
	// name
	.form-item-nombre-completo{
		@include inline-block(top);
		@include grid-porcentaje(6);
		float: left;
		
		@media screen and (max-width: $breakpoint_4){
			@include grid-porcentaje(12);
			float: none;
		}
		
		input{
			@include input-form;
		}
		
	}
	
	// phone
	.form-item-telefono{
		@include inline-block(top);
		@include grid-porcentaje(6);
		float: left;
		
		@media screen and (max-width: $breakpoint_4){
			@include grid-porcentaje(12);
			float: none;
		}
		
		input{
			@include grid-porcentaje(12);
			@include input-form;
		}
		
	}
	
	//email
	.form-item-correo-electronico{
		@include inline-block(top);
		@include grid-porcentaje(6);
		float: left;
		
		@media screen and (max-width: $breakpoint_4){
			@include grid-porcentaje(12);
			float: none;
		}
		
		input{
			@include input-form;
		}
		
	}
	
	//doc
	.form-item-documento-de-identidad{
		@include inline-block(top);
		@include grid-porcentaje(6);
		float: left;
		
		@media screen and (max-width: $breakpoint_4){
			@include grid-porcentaje(12);
			float: none;
		}
		
		input{
			@include grid-porcentaje(12);
			@include input-form;
		}
		
	}
	
	input[type="checkbox"]{
		display: block;
	}
	
	// checkbox
	#edit-deseo-realizar-la-inscripcion--wrapper{
		@include inline-block(top);
		@include grid-porcentaje(12);
		float: none;
		text-align: center;
		margin: 1rem 0;
		
		legend{
			color: $color_brand_white;
			@include paragraph;
			font-family: $font-basel;
			font-weight: 100;
			@include inline-block(top);
			//@include grid-porcentaje(8);
			float: left;
			width: auto;
		}
		
		.fieldset-wrapper{
			@include inline-block(top);
			//@include grid-porcentaje(4);
			float: left;
			min-width: 15rem;

			
			.js-webform-checkboxes{
				
				div{
					
					&:first-child{
						@include inline-block(top);
						@include grid-porcentaje(6);
						float: left;
						margin:  0;
					}
					
					&:last-child{
						@include inline-block(top);
						@include grid-porcentaje(6);
						float: left;
						margin:  0;
					}
					
				}
				
			}
			
		}
		
	}
	
	// autorizo
	.form-item-autorizo-a-la-universidad-el-bosque-para-el-envio-de-informacion{
		@include inline-block(top);
		font-family: $font-serif-italic;
		float: left;
		width: auto;
	}
	
	// terminos y condiciones
	#edit-terminos-y-condiciones{
		@include inline-block(top);
		@include paragraph;
		font-family: $font-basel;
		font-size: 13px;
		letter-spacing: 1.5px;
		float: left;
		width: auto;
		margin-bottom: 0;
	    margin-top: 0.7rem;
	    margin-left: 1rem;
	    
	    @media screen and (max-width: $breakpoint_4){
			display: block;
			margin: .7rem auto 0;
			text-align: center;
			float: none;
		}
		
		a{
			color: $color_brand_white;
			
			&:after{
				visibility: visible;
				width: 100%;
				background: $color_brand_white;
			}
			
			&:hover{
				&:after{
					visibility: visible;
					width: 0%;
				}
			}
			
		}
		
	}
	
	// send button
	.webform-actions{
		@include inline-block(top);
		@include grid-porcentaje(12);
		text-align: center;
		margin-top: 1rem;
		
		button{
			@include buton-s-white-line;
		}
		
	}
	
}