// -----------------------------------------------------------------------
// ----------------------- banner ----------------------- //

// container general
.page-node-type-page,
.page-node-type-cursos-y-talleres{
	
	div[role="main"]{
	
		.row{
			
			> section{
				
				background: $color_brand_white;
				position: relative;
				border-radius: 0;
				border: 0px;
				//margin-top: 9rem;
				padding-bottom: 15rem;
				&::before,
				&::after {
				    content: "";
				    background: $color_brand_white;
				    display: block;
				    //width: $bg-demasia-width;
				    width: 100%;
				    height: 100%;
				    position: absolute;
				    top: 0;
				    left: 100%;
				}
				&::after {
				    left: auto;
				    right: 100%;
				}
				
				@media screen and (max-width: $breakpoint_3){
					padding-bottom: 0;
				}
				
				.region-content{
					
					position: relative;
					z-index: 3;
					
					@media screen and (max-width: $breakpoint_3){
						padding: 0 10px;
					}
					
					> div {
						
						.field{
							
							margin-bottom: 2rem;
							
							.field--label{
								font-family: $font-AG-black;
								font-size: $font-titles-xl;
								line-height: $font-titles-xl;
								font-weight: initial;
								margin-bottom: 1rem;
								word-break: break-word;
							}
							
							&:last-child{
								margin-bottom: 0;
							}
							
						}
						
						.field--name-field-docente{
							.field--item{
								font-family: $font-AG-light;
								font-size: $font-titles-xl;
								line-height: $font-titles-xl;
								text-transform: uppercase;
							    //margin-top: -2rem;
							}
						}
						
						.field--name-field-descripcion-docente{
							@include inline-block(top);
							@include grid-porcentaje(8);
							float: left;
							padding-left: 0;
							
							@media screen and (max-width: $breakpoint_3){
								@include grid-porcentaje(7);
								padding-left: 0;
							}
							
							@media screen and (max-width: $breakpoint_4){
								@include grid-porcentaje(12);
								padding: 0;
							}
							
						}
						
						.field--name-field-imagen-del-docente{
							@include repo-classes;
							@include inline-block(top);
							width: 28%;
							padding: 0;
							float: left;
							
							@media screen and (max-width: $breakpoint_3){
								width: 28%;
								padding: 0;
							}
							
							@media screen and (max-width: $breakpoint_4){
								@include grid-porcentaje(10);
								padding: 0;
							}
							
							img{
								width: 100%;
							}
							
						}
						
					}
					
				}
				
			}
			
		}
		
	}
	
}