// -----------------------------------------------------------------------
// ----------------------- nuestra metodologia ----------------------- //

// container general
.path-frontpage{
	
	.main-container{
		
		.row{
			
			> section{
			    
			    .region-content{
				    
				    section{
					    
					    &:nth-child(4){
						    padding: 5rem 0 0;
						    position: relative;
						    
						    &:before{
										//background: url(../images/svg/ilustracion-2.svg);
										background: url(../images/svg/ilustracion-2.png);
										position: absolute;
									    width: 3138px;
									    height: 1506px;
									    top: -66rem;
									    content: "";
									    right: -86%;
									    z-index: 0;
										background-size: cover;
										image-rendering: pixelated;
										
										@media screen and (max-width: $breakpoint_1){
											width: 2808px;
										    height: 1346px;
											top: -62rem;
											left: -98%;
										}
										
										@media screen and (max-width: $breakpoint_2){
											width: 2300px;
										    height: 1126px;
										    top: -49rem;
										    left: -110%;
										}
										
										@media screen and (max-width: $breakpoint_3){
											top: -50rem;
										}
										
										/*@media screen and (max-width: $breakpoint_4){
											top: -15rem;
										}
										
										@media screen and (max-width: 305px){
											top: -10rem;
										}*/
										
									}
						    
						    .field--name-body{
							    position: relative;
							    z-index: 3;
							    
							    @media screen and (max-width: $breakpoint_3){
								    text-align: center;
							    }
							    
							    > div{
								    @include inline-block(top);
									@include grid-porcentaje(6);
									float: left;
									
									@media screen and (max-width: $breakpoint_3){
										@include grid-porcentaje(10);
										float: none;
									}
									
									@media screen and (max-width: $breakpoint_4){
										@include grid-porcentaje(12);
									}
									
									figure{
										@include inline-block(top);
										@include grid-porcentaje(5);
										width: 44%;
										padding: 0;
										margin: 1rem 4rem 2rem 0;
										position: relative;
										&::before,
										&::after {
										    content: "";
										    background: $color_ec_mag;
										    display: block;
										    //width: $bg-demasia-width;
										    width: 3%;
										    height: 80%;
										    position: absolute;
										    top: 10%;
										    left: -3%;
										}
										&::after {
										    left: auto;
										    right: -3%;
										}
										
										@media screen and (max-width: $breakpoint_4){
											@include inline-block(top);
											@include grid-porcentaje(10);
											padding: 0;
											margin: 1rem auto;
										}
										
										&:nth-child(even){
											margin-right: 0;
											@media screen and (max-width: $breakpoint_4){
												margin: 1rem auto;
											}
										}
											 
									}
								    
							    }
							    
							    p{
								    color: $color_brand_white;
								    @include inline-block(top);
									@include grid-porcentaje(6);
									float: right;
									font-family: $font-basel;
									
									@media screen and (max-width: $breakpoint_3){
										@include grid-porcentaje(10);
										float: none;
									}
									
									@media screen and (max-width: $breakpoint_4){
										@include grid-porcentaje(12);
									}
									
								    &:nth-child(2){
									    
										font-family: $font-AG-black;
										font-size: $font-titles-xl;
										line-height: $font-titles-xl;
										margin-bottom: 4rem;
										margin-top: 2rem;
										word-break: break-word;
										
								    }
								    
								    &:nth-child(4),
								    &:last-child{
									    //@include inline-block(top);
									    display: table;
										@include grid-porcentaje(7);
										padding: 3rem 0 0;
										margin: auto;
										float: none;
										text-align: center;
										
										@media screen and (max-width: $breakpoint_2){
											@include grid-porcentaje(10);
											padding: 3rem 0 0;
										}
										
										@media screen and (max-width: $breakpoint_4){
											@include grid-porcentaje(12);
											padding: 1rem 10px;
										}
								    
									    a{
										    @include buton-s;
									    }
									    
								    }
								    
							    }
							    
						    }
						    
					    }
					    
				    }
				    
			    }
    
			}
			
		}
		
	}

}