// -----------------------------------------------------------------------
// ----------------------- proximos cursos ----------------------- //

// container general
.block-views-blockproximos-cursos-block-1{
	
	margin: 5rem 0;
	position: relative;
	
	&:before{
		background: url(../images/svg/mancha-2.svg);
	    background-repeat: no-repeat;
	    position: absolute;
	    width: 180px;
	    height: 167px;
	    top: 40%;
	    content: "";
	    left: -18%;
	}
	
	.view-proximos-cursos{
		
		// header title
		.view-header{
			margin-bottom: 2rem;
			
			h2{
				color: $color_brand_white;
			}
			
		}
		
		// images
		.view-content{
			text-align: center;
			
			.views-row{
				@include repo-classes;
				
				// image
				.views-field-field-imagen-del-curso-taller{
					
				}
				
				// title
				.views-field-title{
					@include repo-classes-txt;
				}
				
				// more link
				.views-field-view-node{
					@include repo-classes-link;
				}
				
			}
			
		}
		
		// footer
		.view-footer{
			//@include inline-block(top);
			@include grid-porcentaje(6);
			margin: 3rem auto 0;
			text-align: center;
			z-index: 3;
			position: relative;
			
			@media screen and (max-width: $breakpoint_1){
				@include grid-porcentaje(8);
			}
			
			@media screen and (max-width: $breakpoint_2){
				@include grid-porcentaje(10);
			}
			
			@media screen and (max-width: $breakpoint_3){
				@include grid-porcentaje(11);
			}
				
			p{
				font-family: $font-basel;
				
				// text field
				&:nth-child(1){
					color: $color_brand_white;
				}
				
				// button
				&:nth-child(2){
					margin-top: 2rem;
					
					a{
						@include buton-s;
					}
				}
			}
			
		}
		
	}
	
}